<app-sidebar></app-sidebar>

<div class="content">
  <h2>Modifier l'article</h2>

  <form (ngSubmit)="updateArticle()">
    <div class="form-row">
      <div class="form-group half-width">
        <label for="title">Titre de l'article</label>
        <input type="text" id="title" [(ngModel)]="article.titre" name="title" class="form-control" required />
        <div *ngIf="!article.titre" class="text-danger">
          Le titre est requis.
        </div>
      </div>

      <div class="form-group half-width">
        <label for="image">URL de l'image</label>
        <input type="text" id="image" [(ngModel)]="article.image" name="image" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label for="description">Contenu de l'article</label>
      <textarea id="description" [(ngModel)]="article.description" name="description" rows="10" class="form-control" required></textarea>
      <div *ngIf="!article.description" class="text-danger">
        Le contenu est requis.
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-submit" [disabled]="!article.titre || !article.description">Modifier l'article</button>
    </div>
  </form>
</div>
