<app-sidebar/>
<div class="content">
  <div class="profile-photo">
   <img alt="Profile photo of a person" height="100" src="assets/images/mentor1.svg" width="100"/>
   <div class="btn-modifier">
    <button class="btn btn-primary">
     Modifier la photo
    </button>
    <button class="btn btn-secondary">
     Supprimer la photo
    </button>
   </div>
  </div>
  <h3>
   Information profile
  </h3>
  <form>
   <div class="row">
    <div class="col-md-6">
     <label class="form-label" for="prenom">
      Prenom
     </label>
     <input class="form-control" id="prenom" type="text" value="Aminata Assane"/>
    </div>
    <div class="col-md-6">
     <label class="form-label" for="nom">
      Nom
     </label>
     <input class="form-control" id="nom" type="text" value="Ndiaye"/>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <label class="form-label" for="email">
      Adresse email
     </label>
     <input class="form-control" id="email" type="email" value="exemple@exemple.com"/>
    </div>
    <div class="col-md-6">
     <label class="form-label" for="experience">
      Annee d'experience
     </label>
     <input class="form-control" id="experience" type="text" value="6"/>
    </div>
   </div>
   <div class="mb-3">
    <label class="form-label" for="biographie">
     Biographie
    </label>
    <textarea class="form-controle" id="biographie" rows="5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
   </div>
   <div class="col-md-6">
    <label class="form-label" for="nom">
     Modifier mot de passe
    </label>
    <input class="form-control" id="nom" type="password" value="******"/>
   </div>
   <button class="btn btn-primary" type="submit">
    Enregistrer
   </button>
   <button class="btn btn-secondary" type="button">
    Annuler
   </button>
  </form>
 </div>
