<app-sidebar/>
<div class="content">
  <button class="edit-button">
   Modifier l'article
  </button>
  <div class="article-title">
   L'Évolution du Développement Web
  </div>
  <div class="article-meta">
   <span class="author">
    Cheikh Sane
   </span>
   |
   <span class="category">
    Informatique
   </span>
  </div>
  <img alt="Person looking at a computer screen with code" class="article-image" height="400" src="https://replicate.delivery/yhqm/G2Q9EzuyAZZJHVfiIfrsRPPXjfcmcQ0CtIeKlxGv3sjvPXQNB/out-0.png" width="800"/>
  <div class="likes">
   <i class="fas fa-thumbs-up icon">
   </i>
   12 j'aimes
  </div>
  <div class="article-text">
   Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
  C'est le 12 mars 1989, il y a 30 ans, jour pour jour, que Tim Berners-Lee, un scientifique britannique du Cern, a soumis un texte intitulé « Gestion de l'information : une proposition ». Internet occupait déjà une place de plus en plus importante pour les échanges d'informations, notamment dans les milieux universitaires. Certaines des technologies, associées à tort aujourd'hui au Web, existaient déjà à l'époque. L'e-mail date de 1965, tandis que les newsgroups, les premiers systèmes de forums électroniques, ont été inventés dès 1979.
  </div>
 </div>
