<body>
  <div class="sidebar">
    <div class="logo">
        <img src="./assets/logo.png" alt="Logo">
    </div>
    <nav>
          <ul>
            <li><a routerLink="/admin-dashboard" ><i class="fas fa-tachometer-alt"></i> Tableau de bord</a></li>
            <!-- <li><a href="#"><i class="fas fa-layer-group"></i> Domaines</a></li> -->
            <li><a routerLink="/admin-formation"><i class="fas fa-chalkboard-teacher"></i> Formations</a></li>
            <li><a routerLink="/roles" id="active"><i class="fas fa-user-shield" ></i> Rôles et permissions</a></li>
            <li (click)="logout()"><a routerLink="/logout" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
        </ul>
    </nav>
  </div>

  <div class="header">
    <div class="user-info">
      <span>{{ userName }}</span>
      <i class="fas fa-bell" (click)="toggleNotifications()"></i>
      <span *ngIf="notifications.length > 0" class="notification-count">{{ notifications.length }}</span>
      <a routerLink="/modifier/profile-mentor"><i class="fas fa-user-circle"></i></a>
    </div>

    <div *ngIf="showNotifications" class="notifications-dropdown">
      <ul>
        <li *ngFor="let notification of notifications" class="notification-item">
          <span>{{ notification.data.message || 'Notification reçue' }}</span>
          <!-- <i class="fas fa-trash-alt"></i> -->
        </li>
      </ul>
    </div>
  </div>

<div class="main-content">
    <div class="header1">
        <h1>Rôles et Permissions</h1>
        <div class="buttons">
            <button class="roles">Rôles</button>
            <button>Permissions</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nom Complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Rôles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
