
<app-navbar/>
<div class="content-form">
<div class="container">
  <div class="content-container">
   <div class="text-content">
    <h5>
     Nos Domaines d'Action et Formations Associées
    </h5>
    <p>
     <strong>
      Chez Guindiko
     </strong>
     , nous proposons une orientation professionnelle de qualité en couvrant divers domaines d'action. Explorez des secteurs variés, tels que la technologie, les sciences humaines, l’économie, etc avec des formations adaptées pour chaque domaine. Ces formations sont conçues pour développer vos compétences et vous aider à exceller dans votre carrière. Pour toute question, notre équipe de mentors est là pour vous guider.
    </p>
   </div>
   <div class="image-content">
    <img alt="A group of diverse people in a professional setting, engaged in a discussion." height="400" src="assets/images/herro-form.svg" width="600"/>
   </div>
  </div>
 </div>
</div>
<!--nos formation -->
<div class="container mt-5">
  <h1 class="title text-start">Nos Formations</h1>
  <div class="d-flex justify-content-center align-items-center mt-4">
      <button class="btn btn-custom">INFORMATIQUE</button>
      <button class="btn btn-outline-custom">INFORMATIQUE</button>
      <button class="btn btn-outline-custom">COMPTABILITE</button>
      <button class="btn btn-outline-custom">INFORMATIQUE</button>
      <button class="btn btn-outline-custom">FISCALITE</button>
  </div>
</div>
<!-- formation details -->
<div class="container py-5">
  <div class="row row-cols-1 row-cols-md-4 g-2">
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
     <img alt="Person working on computer with code on screen" class="card-img" height="400" src="assets/images/formation.svg" width="600"/>
     <div class="card-img-overlay">
      INFORMATIQUE
      <i class="fas fa-arrow-right">
      </i>
     </div>
    </div>
   </div>
  </div>
  <nav aria-label="Page navigation example" class="mt-4">
   <ul class="pagination">
    <li class="page-item">
     <a aria-label="Previous" class="page-link" href="#">
      <span aria-hidden="true">
       «
      </span>
     </a>
    </li>
    <li class="page-item">
     <a class="page-link" href="#">
      1
     </a>
    </li>
    <li class="page-item">
     <a class="page-link" href="#">
      2
     </a>
    </li>
    <li class="page-item">
     <a class="page-link" href="#">
      3
     </a>
    </li>
    <li class="page-item">
     <a class="page-link" href="#">
      4
     </a>
    </li>
    <li class="page-item">
     <a aria-label="Next" class="page-link" href="#">
      <span aria-hidden="true">
       »
      </span>
     </a>
    </li>
   </ul>
  </nav>
 </div>
<app-footer/>
