body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFF0;
  color: #333;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
  top: 0;
  background-color: #FFFFF0;
  color: #3D1957;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 180px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 20px;
}

.sidebar nav ul li a {
  color: #3D1957;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.sidebar nav ul li a img {
  margin-right: 10px;
}

.sidebar nav ul li a:hover, #formation {
  background-color: #3D1957;
  color: #FFFFF0;
}

.header {
  background-color: #3D1957;
  color: #FFFFF0;
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 220px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 220px;
  border-bottom: 1px solid #ddd;
}

.header .user-info {
  display: flex;
  align-items: center;
}

.header .user-info span {
  margin-right: 20px;
  font-size: 16px;
}

.header .user-info i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.notification-count {
  background-color: #ff0000;
  color: #FFFFF0;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  margin-left: -15px;
}

.notifications-dropdown {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #FFFFF0;
  color: #3D1957;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  padding: 10px 0;
}

.notifications-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notifications-dropdown li {
  padding: 15px;
  background-color: #f8f4eb;
  border-radius: 8px;
  margin: 10px 15px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.notifications-dropdown li:hover {
  background-color: #e8e4d9;
}

.main-content {
  margin-left: 220px;
  margin-top: 80px;
  padding: 20px;
  width: calc(100% - 240px);
  box-sizing: border-box;
}

.header h2 {
    color: #5C0C69;
    font-size: 24px;
}

.btn-add {
    background-color: #5C0C69;
    color: #FFFFF0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.tags-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.category-tag {
    background-color: #FFFFF0;
    color: #5C0C69;
    padding: 15px 15px;
    border: 3px solid #5C0C69;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 100px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.category-card {
    background-color: #FFFFF0;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(116, 25, 106, 0.589);
    text-align: center;
    padding: 20px;
    margin-left: 10px;
}

.category-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category-card p {
    font-size: 18px;
    color: #5C0C69;
}
.content-container {
  background-color: #fffff0;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}
.text-content {
  flex: 1;
  padding: 20px;
}
.image-content {
  flex: 1;
  padding: 20px;
}
.image-content img {
  width: 100%;
  border-radius: 20px;
}
/*nos formation*/
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-size: #5C0C69;
}
.btn-custom {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fffff0;
  background-color: #6a1b9a;
  border: 2px solid #6a1b9a;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
}
.btn-outline-custom {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #6a1b9a;
  background-color: transparent;
  border: 2px solid #6a1b9a;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
}
.arrow {
  font-size: 1.5rem;
  color: #5C0C69;
  margin: 0 20px;
}
/*detail*/
.card {
background-color: #fffff0;

}
.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFF0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.pagination {
  justify-content: center;
}
.page-item.active .page-link {
  background-color: #fdfde3;
  border-color: #fdfde3;
}

.header1 h1 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #5A2961;
  font-weight: bold;
}
form{
  height: auto;
}

form .infos {
  display: flex;
  flex-direction: column;
}

.flexible{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;

}

.formulaire{
  width: 48%;
}


form .infos label {
  font-size: 16px;
  color: #5A2961;
  margin-bottom: 5px;
  display: block;
}

form .infos input[type="text"],
form .infos select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #FFFFF0;
  width: 100%;
}

form textarea {
  resize: vertical;
  background-color: #FFFFF0;
}
.boutton {
  background-color: #3D1957;
  color: #FFFFF0;
  width: 3rem;
  padding: .4em 7em;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
form input[type="button"] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #FFFFF0;
  background-color: #5A2961;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="button"]:hover {
  background-color: #7B437A;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.95em;
  color: #555;
  font-family: "open sans" sans-serif;
}

.card-footer {
  background-color: #fffff0;
  border-top: 1px solid #eee;
}

.btn-outline-info, .btn-outline-danger {
  font-size: 0.85em;
  padding: 5px 10px;
}
.btn-outline-info,
.btn-outline-custom {
  border-color: #3D1957;
  color: #3D1957;
  background-color: transparent;
}

.btn-outline-info:hover,
.btn-outline-custom:hover {
  background-color: #3D1957;
  color: #fffff0;
}
.btn-outline-primary{
  color: #3D1957;
  border-color: #3D1957;
  background-color: transparent
}

.btn-outline-primary:hover{
  background-color: #3D1957;
  color: #fffff0;
}


