<div class="sidebar">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="Logo">
    </div>
    <nav>
      <ul>
        <li><a href="#"> <img src="../../../assets/uil_dashboard1.svg" alt=""> Tableau de bord</a></li>
        <li><a href="#" id="domaine"><img src="../../../assets/dashicons_category1.svg" alt=""> Domaines</a></li>
        <li><a href="#"><img src="../../../assets/healthicons_i-training-class.svg" alt=""> Formations</a></li>
        <li><a href="#"><img src="../../../assets/eos-icons_role-binding.svg" alt=""> Rôles et permissions</a></li>
      </ul>
    </nav>
  </div>
  
  <div class="main-content">
    <div class="header1">
      <h1>Ajouter une Formation</h1>
    </div>
  
    <form (ngSubmit)="ajouterFormation()">
      <div class="infos">
        <div class="row">
          <div class="libelle">
            <label for="libelle">Libellé:</label>
            <input type="text" id="libelle" [(ngModel)]="newFormation.libelle" name="libelle" placeholder="Libellé de la formation" required>
          </div>
          <div class="domaine">
            <label for="domaine">Domaine:</label>
            <select name="domaine" id="domaine" [(ngModel)]="newFormation.domaine" required>
              <option *ngFor="let domaine of domains" [value]="domaine.id">{{ domaine.nom }}</option>
            </select>
          </div>
        </div>
        <label for="description">Description:</label>
        <textarea name="description" id="description" [(ngModel)]="newFormation.description" cols="30" rows="5" placeholder="Description de la formation" required></textarea>
      </div>
      <button type="submit">Ajouter</button>
    </form>
  
    <div class="content-form">
      <div class="container">
        <div class="content-container">
          <div class="text-content">
            <h5>Nos Domaines d'Action et Formations Associées</h5>
            <p>
              <strong>Chez Guindiko</strong>, nous proposons une orientation professionnelle de qualité en couvrant divers domaines d'action. Explorez des secteurs variés, tels que la technologie, les sciences humaines, l’économie, etc avec des formations adaptées pour chaque domaine. Ces formations sont conçues pour développer vos compétences et vous aider à exceller dans votre carrière. Pour toute question, notre équipe de mentors est là pour vous guider.
            </p>
          </div>
          <div class="image-content">
            <img alt="A group of diverse people in a professional setting, engaged in a discussion." height="400" src="assets/images/herro-form.svg" width="600"/>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container mt-5">
      <h1 class="title text-start">Nos Formations</h1>
  
      <div class="d-flex justify-content-between align-items-center mt-4">
        <!-- Bouton Précédent -->
        <button class="btn btn-outline-primary" (click)="prev()" [disabled]="startIndex === 0">Précédent</button>
  
        <!-- Boucle pour afficher chaque domaine (max 5 à la fois) -->
        <div class="d-flex justify-content-center align-items-center">
          <button *ngFor="let domain of domains.slice(startIndex, startIndex + 5)"
                  class="btn btn-outline-custom mx-2"
                  (click)="onDomainClick(domain.id)">
            {{ domain.nom }}
          </button>
        </div>
  
        <!-- Bouton Suivant -->
        <button class="btn btn-outline-primary" (click)="next()" [disabled]="startIndex + 5 >= domains.length">Suivant</button>
      </div>
    </div>
  
    <div class="container py-5">
      <div class="row row-cols-1 row-cols-md-4 g-2">
        <div class="col" *ngFor="let formation of formations">
          <div class="card">
            <img alt="{{ formation.nom }}" class="card-img" src="assets/images/formation.svg" />
            <div class="card-img-overlay">
              {{ formation.nom }}
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  