<app-navbar></app-navbar>

<div class="container profile-container">
  <div class="profil-mentor">
    <img
      [src]="mentor?.profilePictureUrl || 'https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-portrait-176256935.jpg'"
      alt="Profile picture of {{ mentor?.name }}"
      class="profile-image"
      width="250"
      height="250"
    />
  </div>
  <div class="profile-details">
    <h1>nom{{ mentor?.name }}</h1>
    <p>email{{ mentor?.email }}</p>
    <p>description{{ mentor?.description }}</p>

    <p>
      <span class="experience">{{ mentor?.experience }} ans</span> expériences |
      <span class="experience">{{ mentor?.language }}</span>
    </p>
    <div class="request">
      <p class="members">{{ mentor?.membersCount }} membres</p>
      <div>
        <i class="fas fa-plus"></i>
        <span>Demande</span>
      </div>
    </div>

    <div class="buttons">
      <button class="btn btn-articles" (click)="goToPage('article/mentor')">Articles</button>
      <button class="btn btn-outline-dark" (click)="goToPage('session')">Sessions</button>
      <button class="btn btn-outline-dark" (click)="goToPage('abonner/mentore')">Membres</button>
    </div>
  </div>
</div>
