<div class="sidebar">
  <h1>Guindiko <span>nature</span></h1>
  <ul>

    <li (click)="navigateTo('dashboard-mentor')"><i class="fas fa-home"></i> Dashboard</li>
    <li (click)="navigateTo('session-mentor')"><i class="fas fa-calendar-alt"></i> Sessions</li>
    <li (click)="navigateTo('article-dashboard')"><i class="fas fa-newspaper"></i> Articles</li>
    <li (click)="navigateTo('abonner-mentor')"><i class="fas fa-user"></i> Abonné(e)</li>

      <li (click)="logout()"><a routerLink="/logout" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i> Deconnexion</a></li>
  </ul>
</div>

<div class="header">
  <div class="user-info">
    <span>{{ userName }}</span>
    <i class="fas fa-bell"></i>
    <i class="fas fa-user-circle"></i>
  </div>
</div>
