<app-profil-mentor/>
<div class="container mt-5">
  <div class="row">
   <div class="col-md-4">
    <div class="card">
     <div class="card-body">
      <h5 class="card-title">
       L'Évolution du Développement Web
      </h5>
      <img alt="Person looking at a computer screen with code displayed" class="card-img-top" height="200" src="assets/images/dev-evo.svg" width="600"/>
      <p class="card-text mt-3">
       Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
      </p>
      <a class="card-link" href="#">
       Voir plus
       <i class="fas fa-arrow-right">
       </i>
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4">
    <div class="card">
     <div class="card-body">
      <h5 class="card-title">
       L'Évolution du Développement Web
      </h5>
      <img alt="Person looking at a computer screen with code displayed" class="card-img-top" height="200" src="assets/images/dev-evo.svg" width="600"/>
      <p class="card-text mt-3">
       Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
      </p>
      <a class="card-link" href="#">
       Voir plus
       <i class="fas fa-arrow-right">
       </i>
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-4">
    <div class="card">
     <div class="card-body">
      <h5 class="card-title">
       L'Évolution du Développement Web
      </h5>
      <img alt="Person looking at a computer screen with code displayed" class="card-img-top" height="200" src="assets/images/dev-evo.svg" width="600"/>
      <p class="card-text mt-3">
       Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
      </p>
      <a class="card-link" href="#">
       Voir plus
       <i class="fas fa-arrow-right">
       </i>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
