<app-sidebar/>
<div class="content">
  <h2>
   Abonnee
  </h2>
  <div class="subscriber-list">
   <div class="subscriber-item">
    <img alt="Profile picture of Modou Faye" height="50" src="https://replicate.delivery/yhqm/1ajKcsD4NmoNPlDCMCLYPTt4wjzTSrDl8jiyp3Wp0qTcdB1E/out-0.png" width="50"/>
    <div class="info">
     <h3>
      Modou Faye
     </h3>
     <p>
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="actions">
     <i class="fas fa-ellipsis-h">
     </i>
    </div>
   </div>
   <div class="subscriber-item">
    <img alt="Profile picture of Modou Faye" height="50" src="https://replicate.delivery/yhqm/1ajKcsD4NmoNPlDCMCLYPTt4wjzTSrDl8jiyp3Wp0qTcdB1E/out-0.png" width="50"/>
    <div class="info">
     <h3>
      Modou Faye
     </h3>
     <p>
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="actions">
     <i class="fas fa-ellipsis-h">
     </i>
    </div>
   </div>
   <div class="subscriber-item">
    <img alt="Profile picture of Modou Faye" height="50" src="https://replicate.delivery/yhqm/1ajKcsD4NmoNPlDCMCLYPTt4wjzTSrDl8jiyp3Wp0qTcdB1E/out-0.png" width="50"/>
    <div class="info">
     <h3>
      Modou Faye
     </h3>
     <p>
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="actions">
     <i class="fas fa-ellipsis-h">
     </i>
    </div>
   </div>
   <div class="subscriber-item">
    <img alt="Profile picture of Modou Faye" height="50" src="https://replicate.delivery/yhqm/1ajKcsD4NmoNPlDCMCLYPTt4wjzTSrDl8jiyp3Wp0qTcdB1E/out-0.png" width="50"/>
    <div class="info">
     <h3>
      Modou Faye
     </h3>
     <p>
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="actions">
     <i class="fas fa-ellipsis-h">
     </i>
    </div>
   </div>
  </div>
 </div>
