<app-profil-mentor/>
<div class="container mt-5">
  <div class="card">
   <div class="card-body">
    <img alt="Profile image of Modou Faye" class="profile-img" height="50" src="assets/images/abonner.svg" width="50"/>
    <div>
     <h5 class="card-title mb-0">
      Modou Faye
     </h5>
     <p class="card-text">
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="ellipsis">
     ...
    </div>
   </div>
  </div>
  <div class="card">
   <div class="card-body">
    <img alt="Profile image of Modou Faye" class="profile-img" height="50" src="assets/images/abonner.svg" width="50"/>
    <div>
     <h5 class="card-title mb-0">
      Modou Faye
     </h5>
     <p class="card-text">
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="ellipsis">
     ...
    </div>
   </div>
  </div>
  <div class="card">
   <div class="card-body">
    <img alt="Profile image of Modou Faye" class="profile-img" height="50" src="assets/images/abonner.svg" width="50"/>
    <div>
     <h5 class="card-title mb-0">
      Modou Faye
     </h5>
     <p class="card-text">
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="ellipsis">
     ...
    </div>
   </div>
  </div>
  <div class="card">
   <div class="card-body">
    <img alt="Profile image of Modou Faye" class="profile-img" height="50" src="assets/images/abonner.svg" width="50"/>
    <div>
     <h5 class="card-title mb-0">
      Modou Faye
     </h5>
     <p class="card-text">
      ndiayeamina775&#64;gmail.com
     </p>
    </div>
    <div class="ellipsis">
     ...
    </div>
   </div>
  </div>
 </div>
