<<<<<<< HEAD
=======
/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #FFFFF0;
}
>>>>>>> ac9350c4876ac22157f891a8b15df4c42e42972a
