<app-navbar/>
<div class="">
  <img src="assets/images/herro1.svg" alt="images herro">
</div>
<section class="custom-section">
  <div class="container d-flex align-items-center">
      <div class="shapes">
          <div class="oval"></div>
          <div class="circle1"></div>
          <div class="circle2"></div>
      </div>
      <div class="text-content">
          <h1>Découvrez Guindiko</h1>
          <p>Guindiko est une plateforme innovante qui connecte des mentors passionnés avec ceux qui cherchent à se développer personnellement et professionnellement. Nous croyons en la puissance du mentorat pour transformer des vies, et nous offrons une communauté engagée où l'apprentissage et la croissance sont au cœur de tout ce que nous faisons.</p>
      </div>
  </div>
</section>
