<app-navbar/>
<div class="banniere">
  <img src="assets/images/herro1.svg" alt="images herro">
</div>
<section class="custom-section">
  <div class="container d-flex align-items-center">
      <div class="shapes">
          <div class="oval"></div>
          <div class="circle1"></div>
          <div class="circle2"></div>
      </div>
      <div class="text-content">
          <h1>Découvrez Guindiko</h1>
          <p>Guindiko est une plateforme innovante qui connecte des mentors passionnés avec ceux qui cherchent à se développer personnellement et professionnellement. Nous croyons en la puissance du mentorat pour transformer des vies, et nous offrons une communauté engagée où l'apprentissage et la croissance sont au cœur de tout ce que nous faisons.</p>
      </div>
  </div>
</section>
<section>
  <div class="container mt-5 Articles">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class=" shadow1">Explorez Nos</h1>
            <h2 class="shadow1">Meilleurs <span class="articles">Articles</span></h2>
            <p>Plongez dans une sélection d'articles rédigés par des experts et des passionnés. Que vous soyez intéressé par le développement personnel, les nouvelles technologies, ou des conseils pratiques pour atteindre vos objectifs, nos articles sont conçus pour vous inspirer et vous guider sur votre chemin.</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">L'Évolution du Développement Web</h5>
                      </div>
                        <img alt="Person looking at a computer screen with code" class="card-img-top" src="assets/images/dev-evo.svg" />
                        <div class="card-body">
                            <p class="card-text">Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.</p>
                            <a class="btn-link " routerLink="/details-article">Voir plus <i class="fas fa-arrow-right"></i></a>
                          </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">L'Évolution du Développement Web</h5>
                      </div>
                        <img alt="Person looking at a computer screen with code" class="card-img-top" src="assets/images/dev-evo.svg" />
                        <div class="card-body">
                            <p class="card-text">Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.</p>
                            <a class="btn-link" routerLink="/details-article">Voir plus <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="choix-guindiko">
  <div class="container ">
    <div class="section-title-choix">
        <h2 class="shadow1">Pourquoi Choisir Guindiko</h2> <br>
        <p>Découvrez pourquoi  Guindiko est la meilleure option pour votre <br> développement. Nos fonctionnalités clés vous offrent une expérience <br> unique,personnalisée et enrichissante.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <h5 class="card-title">Mentorat Personnalisé</h5>
                    <p class="card-text">Recevez des conseils et un soutien sur mesure de la part de mentors expérimentés qui comprennent vos défis et aspirations uniques.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="fas fa-book"></i>
                    </div>
                    <h5 class="card-title">Ressources de Qualité</h5>
                    <p class="card-text">Profitez d'une vaste bibliothèque de ressources, y compris des articles, des vidéos, et des formations conçues pour vous aider à exceller.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <h5 class="card-title">Communauté Engagée</h5>
                    <p class="card-text">Faites partie d'une communauté active et solidaire, où l'échange d'idées et d'expériences est encouragé pour favoriser la croissance collective.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    <h5 class="card-title">Outils Innovants</h5>
                    <p class="card-text">Utilisez des outils modernes pour gérer votre apprentissage, suivre vos progrès et rester connecté avec votre mentor et la communauté.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="nos_menteur ">
<div class="container mentor-section">
  <div class="text-mentor">
  <h2 class="shadow1">Rencontrez Nos Mentors</h2>
  <p>Nos mentors sont des leaders dans leurs domaines respectifs, prêts à partager leur expertise et à vous guider vers la réussite. Découvrez les profils inspirants de ceux qui font la différence au sein de la communauté Guindiko.</p>
</div>
  <div class="mentor-images">
      <img src="assets/images/mentor1.svg" alt="Mentor 1">
      <img src="assets/images/mentor2.svg" alt="Mentor 2">
      <img src="assets/images/mentor3.svg" alt="Mentor 3">
      <img src="assets/images/mentor4.svg" alt="Mentor 4">
  </div>
</div>
</section>
<section class="temoignage">
  <div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="highlight"></div>
            <h2 class="section-title shadow1">Ce Que Nos Utilisateurs Disent</h2>
            <p class="section-subtitle">Écoutez les témoignages de nos utilisateurs qui ont transformé leurs vies grâce à Guindiko. Leurs histoires d'apprentissage, de croissance et de succès sont la preuve de l'impact positif de notre plateforme.</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="temoignage-card">
                        <p class="temoignage-text">« Lorem Ipsum is dummy text used in printing and typesetting industry since the 1500s. Learn about its origin, variations, translations and how to »</p>
                        <p class="temoignage-author">Adja Oumy, Dev web</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="temoignage-card">
                        <p class="temoignage-text">« Lorem Ipsum is dummy text used in printing and typesetting industry since the 1500s. Learn about its origin, variations, translations and how to »</p>
                        <p class="temoignage-author">Adja Oumy, Dev web</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="temoignage-card">
                        <p class="temoignage-text">« Lorem Ipsum is dummy text used in printing and typesetting industry since the 1500s. Learn about its origin, variations, translations and how to »</p>
                        <p class="temoignage-author">Adja Oumy, Dev web</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="nos-partenaire">
  <div class="container">
        <div class="title">
            <h2 class="partenaire-title">
                <span class=" shadow1">Nos partenaires</span>
            </h2>
        </div>
    <div class="row justify-content-space-around">
        <div class="col-md-3">
            <img alt="logo du partenaire" class="partenaire-logo" height="150" src="assets/images/partenaire1.svg" width="150"/>
        </div>
        <div class="col-md-3">
            <img alt="Logo du partenaire" class="partenaire-logo" height="150" src="assets/images/partenaire2.svg" width="150"/>
        </div>
        <div class="col-md-3">
            <img alt="Logo du partenaire" class="partenaire-logo" height="150" src="assets/images/partenaire3.svg" width="150"/>
        </div>
        <div class="col-md-3">
            <img alt="Logo du partenaire" class="partenaire-logo" height="150" src="assets/images/partenaire4.svg" width="150"/>
        </div>
    </div>
</div>
</section>
<app-footer/>
