<div class="container">
  <div class="logo">
   <img alt="Guindiko logo" height="100" src="assets/images/logo.svg" width="200"/>
  </div>
  <h2 class="mb-4">
   Bienvenue chez guindiko
  </h2>
  <form>
   <div class="mb-3 text-start">
    <label class="form-label" for="email">
     Email
    </label>
    <input class="form-control" id="email" placeholder="alpha.diallo@exemple.com" type="email"/>
   </div>
   <div class="mb-3 text-start">
    <label class="form-label" for="password">
     Mot de passe
    </label>
    <input class="form-control" id="password" placeholder="****" type="password"/>
   </div>
   <button class="btn btn-custom" type="submit">Connexion</button>
  </form>
